<div class="">
    <h2 class="content-style">Main Dashboard</h2>
    <h3 class="header-style" style="text-align: center;">Admin User Competitions List</h3>
    <h3 class="header-style" style="text-align: center;">Competitions List</h3>
    <hr>
    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 mt-4 align-items-center">
            <div class="card-deck">
                <div class="card mb-4">
                    <a [routerLinkActive]="['router-link-active']" [routerLink]="['/competitions/details']">
                        <img class="card-img-top img-fluid" src="assets/images/logo_logo.png" alt="packaging">

                        <div class="card-body">
                            <h4 class="card-title">Virtual Run</h4>
                            <small>
                            <p class="card-text">Lagers Virtual Run Competion</p>
                        </small>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 mt-4 align-items-center">
            <div class="card-deck">
                <div class="card mb-4">
                    <a [routerLinkActive]="['router-link-active']" [routerLink]="['/participants']">
                        <img class="card-img-top img-fluid" src="assets/images/participant.png" alt="packaging">

                        <div class="card-body">
                            <h4 class="card-title">View Participants</h4>
                            <small>
                          <p class="card-text">Participants, 5km, 10km, 21km</p>
                      </small>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 mt-4 align-items-center">
            <div class="card-deck">
                <div class="card mb-4">
                    <a [routerLinkActive]="['router-link-active']" [routerLink]="['/results']">
                        <img class="card-img-top img-fluid" src="assets/images/stadistics.png" alt="packaging">

                        <div class="card-body">
                            <h4 class="card-title">View Results</h4>
                            <small>
                            <p class="card-text">Top winners, 5km, 10km, 21km</p>
                        </small>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>