<div class="">
    <h2 class="content-style">Main Dashboard</h2>
    <h3 class="header-style" style="text-align: center;" *ngIf="is_superuser">Welcome, Admin User</h3>
    <h3 class="header-style" style="text-align: center;" *ngIf="!is_superuser">Welcome {{ username }}</h3>
    <hr>
    <div class="row" *ngIf="!loading">
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 mt-4 align-items-center">
            <div class="card-deck">
                <div class="card mb-4">
                    <a [routerLinkActive]="['router-link-active']" [routerLink]="['/patients']">
                        <img class="card-img-top img-fluid" src="assets/images/patient.png" alt="packaging">

                        <div class="card-body">
                            <h4 class="card-title">Patient Records ({{ userResults.length }})</h4>
                            <small>
                            <p class="card-text">View All Patient Records</p>
                        </small>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 mt-4 align-items-center" *ngIf="is_superuser">
            <div class="card-deck">
                <div class="card mb-4">
                    <a [routerLinkActive]="['router-link-active']" [routerLink]="['/approvals']">
                        <img class="card-img-top img-fluid" src="assets/images/report.png" alt="packaging">

                        <div class="card-body">
                            <h4 class="card-title">Approval Requets</h4>
                            <small>
                          <p class="card-text">View all approval Requests</p>
                      </small>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 mt-4 align-items-center" *ngIf="is_superuser">
            <div class="card-deck">
                <div class="card mb-4">
                    <a [routerLinkActive]="['router-link-active']" [routerLink]="['/users']">
                        <img class="card-img-top img-fluid" src="assets/images/patient (2).png" alt="packaging">

                        <div class="card-body">
                            <h4 class="card-title">View Users ({{ userDetails.length }})</h4>
                            <small>
                            <p class="card-text">View All users list</p>
                        </small>
                        </div>
                    </a>
                </div>
            </div>
        </div>


        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 mt-4 align-items-center">
            <div class="card-deck">
                <div class="card mb-4">
                    <a [routerLinkActive]="['router-link-active']" [routerLink]="['/profile']">
                        <img class="card-img-top img-fluid" src="assets/images/doctor.png" alt="packaging">

                        <div class="card-body">
                            <h4 class="card-title">Profile</h4>
                            <small>
                            <p class="card-text">View current profile</p>
                        </small>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>


    <div *ngIf="loading" class="text text-center" style="margin-top: 10%;">
        <img height="200" width="auto" src="assets/images/tenor.gif">
        <div class="text">
            Loading....
        </div>
    </div>
</div>